<div class="p-grid">
  <div class="p-offset-2 p-col-8">
    <p-panel header="Rock-Paper-Scissors">
      <form #rpsForm="ngForm">
        <div class="p-grid">
          <div class="p-col-4">
            Informe o número de partidas:
            <input id="input" type="number" name="count" pInputText [(ngModel)]="inputCount" min="0">
            &nbsp;&nbsp;<button pButton type="button" label="Alterar" class="ui-button-info" (click)="setTournamentForm()"></button>
      </div>
        </div>
        <div *ngFor="let game of tournament; let i = index">
          <hr>
          <h3>Jogo {{ i + 1 }}</h3>
          <!-- jogador 1 -->
          <div class="p-grid">
            <div class="p-col-4">
              Nome do jogador 1:
              <input id="input" type="text" name="j1" size="30" pInputText [(ngModel)]="game[0][0]">
            </div>
            <div class="p-col-4">
              Jogada: <br>
              <p-selectButton [options]="types" name="t1" [(ngModel)]="game[0][1]"></p-selectButton>
            </div>
          </div>
          <!-- jogador 2 -->
          <div class="p-grid">
            <div class="p-col-4">
              Nome do jogador 2:
              <input id="input" type="text" name="j2" size="30" pInputText [(ngModel)]="game[1][0]">
            </div>
            <div class="p-col-4">
              Jogada: <br>
              <p-selectButton [options]="types" name="j1" [(ngModel)]="game[1][1]"></p-selectButton>
            </div>
          </div>
        </div>
      </form>
      <p-footer>
        <button pButton type="button" label="Realizar Jogo" class="ui-button-info" (click)="doSingleGame()" *ngIf="gameCount === 1"></button>
        <button pButton type="button" label="Realizar Torneio" class="ui-button-info" (click)="doTournamentGame()" *ngIf="gameCount > 1"></button>
      </p-footer>
    </p-panel>
  </div>
</div>
<p-toast key="msg"></p-toast>
